
.form-container{
  padding:0 5.5em;
  margin: 2em 6.5em;
  //border: 1px solid #888;
  //border-radius: 5px;
  color : #555;
}

.form-title{
  padding:5px 0px 20px 15px;
  margin-bottom: 30px;
  font-family: "Times New Roman","Microsoft YaHei",sans-serif;
  border-bottom:1px solid #EEE;
  text-align: center;
}
