
body{
  background-image: url("../res/background.png");
  background-color: #E9EAED;
}


.problem-table{
  color:#5E5E5E !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.alignCenter{
  text-align: center;
}

.alignRight{
  text-align: right;
}

.block{
  margin: 2em 4.5em;
}

.menu a{
  text-shadow: none !important;
  font-size: 13px;
  color:#222;
}
.menu a:hover{
  color:white !important;
  background: #4078C0 !important;
}

.tElement{
  text-align: center;
  font-weight: 500;
  font-color: #666;
}

.feedback{
  display: none;
  color:#DD4B39;
  font-family: "Microsoft JhangHei",sans-serif;
}

.border-box{
  width: 93%;
  border: 1px solid #CCC;
  background-color: #FAFAFA;
}

#Main{
padding-bottom: 55px;
min-height: 700px;
}
#Footer{
height:55px;
position: relative;
margin-top: -55px;
clear:both;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.footerInfo{
  border-top:#666 1px solid;
  background-color: #333;
  color : #8F8F8F;
  text-align: center;
  padding: .85em;
  font-size:12px;
}

html, body, #wrap {height: 100%;}
#wrap {height: auto; min-height: 100%;}

.use-transform div{
  display:flex;
  align-items:center;
  justify-content:center;
}

.addTable h3{
    //color: #2894FF;
    font-family: "Times New Roman";
}

.ptitle{
  text-align: center;
  border-bottom: 2px solid #EEE;
}

.pcontent{
  color: #777;
}

.submitButton{

  text-align: right;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.problem h2{
  padding-left:8px;
  margin-top:25px;
  margin-bottom: 25px;
  font-family: "Times New Roman";
  color: #555;
  font-weight: bold;
  border-left: 5px solid #E04D37;
}

.problem h3{
  padding-left:8px;
  margin-top:25px;
  margin-bottom: 25px;
  font-family: "Times New Roman";
  color: #555;
  font-weight: bold;
  border-left: 5px solid #E04D37;
}

.problem p{
  font-size:15px;
}

.codeblock{
  padding: 12px 10px;
  border-radius: 3px;
  background-color:#F0F0F0;
  border: 1px solid #DDD;
}

.problem h1{
  color: #E04D37;
  font-family: "Times New Roman";
  letter-spacing: 2px;
}


.icon-margin-right{
  color:#888;
  margin-right: 8px;
}

.headline-hr{
  font-family: "webTE",serif;
  padding-top:7px;
  padding-bottom:7px;
  margin-bottom:20px;
  font-weight: bold;
  border-bottom:2px solid #EEE;
}

.starh{
  border-left:#EEA236 10px solid;
  padding-left:15px;
  color: #EEA236;
}

.tryh{
  border-left:#563D7C 10px solid;
  padding-left:15px;
  color: #563D7C;
}

.ach{
  border-left:#449D44 10px solid;
  padding-left:15px;
  color: #449D44;
}

.submitCard{
  //border-left: 7px solid #F4AE01;
  border:1px solid #999;
  border-radius: 5px;
  background-color: #333;
  color:#666;
  font-size:18px;
  font-family: "hack";
  margin: 1em;
  padding: .5em 1em;
}
.submitCard .info{
  color:#888;
}

.submitCard li{
  list-style: none;
  text-decoration: none;
}

.submitCard a{
  text-decoration: none;
  color: #A71D5D;
}

.searchblock{
  width: 70%;
  padding:1em 0em;
  margin:1em 0em;
}

.block hr{
  color: #0070C0;
}

.starbtn{
  width: 100px;
}

.starborder{
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  border:2px solid #EEE;
  border-bottom: none;
}
