.profile{
  margin: .5em auto;
  height: 90%;
  color:#666;
  overflow: hidden;
}

.borderbox{
  border : 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 0em 0em;
}

.profile-username{
  padding: .3em .65em;
  background-color: #F5F5F5;
  color:#666;
  font-family: "webTE";
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 30px;
  border-bottom: 1px solid #D8D8D8;
}

.profile-info{
  padding: .4em .65em;
  background-color: #F5F5F5;
  color:#333;
  font-family: "webTE";
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  border-bottom: 1px solid #D8D8D8;
}

.profile-content{
  padding: .3em .8em;
  background-color: #FFF;
}

.profile-status{
  padding : 0em .5em;
  padding-bottom: 1.2em;
  float:left;
  display: inline-block;
  height: 80%;
  width: 25%;
  //border:1px red solid;
}

.profile-status-user{
  font-family: "Times New Roman";
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.profile-status-nickname{
  font-family: "webTE";
  font-size: 20px;
  margin-top:0px;
  padding-bottom: .35em;
  color:#555;
  border-bottom: 1px solid #F0F0F0;
}

.profile-status-list{
  text-align: left;
  font-size: 16px;
  list-style: none;
}

.profile-status-list li{
  padding-bottom: .4em;
}



.profile-status-image{
  height:220px;
  width:220px;
  margin: 0 auto;
  border-radius: 5px;
  background-size:cover;
  background-image: url("http://i.imgur.com/795CtRI.png?1");
}

.profile-status-attribute{
  text-align: center;
}

.profile-work{
  float:left;
  margin-left: 1em;
  display: inline-block;
  border-radius: 3px;
  height: 95%;
  width: 70%;
  border:1px #ddd solid;
  overflow: hidden;
}

.profile-edit{
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  border-radius: 3px;
  height: 95%;
  width: 70%;
  border:1px #ddd solid;
}

.problem-recent{
  font-family: "Hack";
  color:white;
  color: rgba(171,178,191,1);
  text-align: center;
  margin-top: 1em;
  height: 45%;
  background-color: rgba(40,44,52,1);
  border-radius: 5px;
  border:1px solid #DDD;
}

.problem-recent a{
  color: rgba(86,182,194,1);
}

.profile-like{
  margin-top: 1.5em;
  height: 20%;
  border-top:1px solid #DDD;
}


.commnet-block{
  border-radius: 3px;
  margin-top: 8px;
  margin-left: 0px;
  margin-right:0px;
  padding: 10px 5px;
  font-family: "webTE";
  background-color: #333;

  color:#EEE;
  width: 100%;
  height: auto;
}

.nodata{
  color : #00C400 ;
}


.bubble
{
margin-top: 15px;
position: relative;
width: 210px;
height: 105px;
color:#444;
font-size: 15px;
font-family: "webTE",arial;
padding: 12px 7px;
box-shadow: 0 0 1px #A3C7A6;
background: #F5F5F5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: #A3C7A6 solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #F5F5F5 transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 158px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #A3C7A6 transparent;
display: block;
width: 0;
z-index: 0;
top: -16px;
left: 158px;
}


.bq {
font-family: Georgia, serif;
font-size: 17px;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #595959;
}



.bq cite {
text-align: right;
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

.bq cite:before {
content: "\2014 \2009";
}
