
.tag{
  border:1px solid #333;
  background-color: #343985;
  padding: .5em 1em;
  color:#EEE;
  font-weight: bold;
}


.cirtag{
  border:1px solid #339;
  background-color: #343985;
  padding: 3px 7px;
  color:#EEE;
  border-radius: 3px;
  font-weight: bold;
}


.watag {
  border-color: #D43F3A !important;
  background-color: #D9533F !important;
}

.actag {
  border-color: #4CAE4C !important;
  background-color: #449D44 !important;
}

.wa{
  color:#D43F3A;
}

.ac{
  color:#449D44
}
